# Ignore model weights
*.pth

# Ignore model outputs
output_dir/

# Ignore IDE-specific files
.vscode/

__pycache__/
config/__pycache__/
data/__pycache__/
dmae_files/__pycache__/
model_architecture/__pycache__/
test/__pycache__/
util/__pycache__/

# Ignore compiled Python files
*.pyc
bkp_files/*.pyc
config/*.pyc
data/*.pyc
dmae_files/*.pyc
model_architecture/*.pyc
test/*.pyc
util/*.pyc

